{% extends 'adminpanel/base_admin.html' %}

{% block title %}
Glamora | Provider Availability
{% endblock %}

{% block content %}

<div class="dashboard-card">

    <div class="card-header">
        <div>
            <h3>Add Provider Availability</h3>
            <p>Set working hours for service providers</p>
        </div>
    </div>

    <form method="POST">

        {% csrf_token %}

        <div class="row g-4">

            <div class="col-md-6">

                <label class="form-label">
                    Provider
                </label>

                <select name="provider" class="form-select" required>

                    <option value="">
                        Select Provider
                    </option>

                    {% for provider in providers %}

                    <option value="{{ provider.id }}">
                        {{ provider.username }}
                    </option>

                    {% endfor %}

                </select>

            </div>

            <div class="col-md-6">

                <label class="form-label">
                    Day
                </label>

                <select name="day" class="form-select" required>

                    <option value="">Select Day</option>

                    <option value="monday">Monday</option>
                    <option value="tuesday">Tuesday</option>
                    <option value="wednesday">Wednesday</option>
                    <option value="thursday">Thursday</option>
                    <option value="friday">Friday</option>
                    <option value="saturday">Saturday</option>
                    <option value="sunday">Sunday</option>

                </select>

            </div>

            <div class="col-md-6">

                <label class="form-label">
                    Start Time
                </label>

                <input
                    type="time"
                    name="start_time"
                    class="form-control"
                    required
                >

            </div>

            <div class="col-md-6">

                <label class="form-label">
                    End Time
                </label>

                <input
                    type="time"
                    name="end_time"
                    class="form-control"
                    required
                >

            </div>

        </div>

        <div class="mt-4">

            <button class="btn btn-primary">
                <i class="fa-solid fa-check"></i>
                Save Availability
            </button>

            <a
                href="{% url 'admin_availability' %}"
                class="btn btn-light"
            >
                Cancel
            </a>

        </div>

    </form>

</div>

{% endblock %}